extends layout

block content
  h1= title
  p Welcome to #{title}
  form(action="/pay", method="post")
    div#checkout
    input(type="submit", value="Pay")
  script(src="https://js.braintreegateway.com/v2/braintree.js")
  script.
    braintree.setup("#{token}", "dropin", {
      container: "checkout"
    });
